<footer class=" footer border-top mb-2">
    <div class="f-info-social">
        <a href="/facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="/x"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="/instagram"><i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="m-2">&copy; Stayomi Private Limited</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
        <a href="/sitemap">Sitemap</a>
    </div>
</footer>