<% layout("/layouts/boilerplate") %>
<body>
    <div class="row my-3">
        <div class="col-8 offset-2">
            <h3 class="text-center mb-2">Login </h3>
            <form action="/login" method="POST" novalidate class="needs-validation">
        <!-- "listing[title]" it is another type to access the data from the from together -->
                <div class="mb-2">
                    <label for="username" class="form-label">Username or Email</label>
                    <input type="text" id="username" name="username" placeholder="Enter Username" class="form-control" required>
                    <div class="invalid-feedback">Please enter valid username</div>
                </div>
                <div class="mb-2">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" id="password"  placeholder="Enter your Password" class="form-control" required>
                    <div class="invalid-feedback">Please enter valid Password</div>
                </div>
                <button class="btn btn-dark my-2">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>